
<div layout="column" layout-fill>
    <div layout-padding class="md-display-1">
        <i class="material-icons">shopping_cart</i>
        Cart
    </div>
    <div layout="column" ng-if="!vm.items || vm.items.length == 0" flex="40">
      <div flex layout="row">
        <md-icon flex="30" class="material-icons" style="font-size:100px;color:gray">sentiment_very_dissatisfied</md-icon>
      </div>
      <div flex="5"></div>
      <div class="md-title text-center">Nothing to ShopLift</div>
    </div>

    <div flex ng-if="vm.items.length > 0">
        <md-list-item layout="row">
          <div flex="40" class="bold">
            Food
          </div>
        
          <div flex="20" class="text-right bold">
            Quantity
          </div>
        
          <div flex="25" class="text-right bold">
            Price
          </div>
          <div flex></div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item layout="row" ng-repeat-start="item in vm.items">
          <div flex="40">{{ item.menu_name }}</div>
          <div flex="20" class="text-right">{{ item.quantity }}</div>
          <div flex="25" class="text-right">{{ (item.price * item.quantity) | currency:''}}</div>
        
          <div  class="text-right">
            <md-button class="md-icon-button" style="margin-left:10px;">
               <i style="margin-right:0;" class="material-icons">close</i>
            </md-button>
          </div>
        </md-list-item>
        <md-divider ng-repeat-end></md-divider>
        <div layout="row" layout-padding>
            <div flex="60" class="bold">Total</div>
            <div flex="40" class="bold">{{ vm.total | currency:'Php ' }}</div>
        </div>
    </div>
    
    <div layout="column" class="primary" ng-if="vm.items.length > 0">
        <md-button class="md-raised" ui-sref="payment" aria-label="login" md-colors="{ background: 'green-500'}"
            flex type="button"> <span class="md-title">Checkout</span>
        </md-button>
    </div>
</div>