<div class="md-toolbar-tools">

  <md-button class="md-icon-button" aria-label="Menu" hide-gt-sm
  	ng-click="header.toggleSidenav('left')">
    <i class="material-icons">menu</i>
  </md-button>

  <!--<md-button class="md-icon-button" aria-label="Menu" hide-gt-sm
  	ng-click="header.toggleSidenav('left')">
    <i class="material-icons">keyboard_arrow_left</i>
  </md-button>-->

  <!--<md-button class="md-icon-button logo" aria-label="logo">
    <img ng-src="assets/images/logo.png" alt="logo" class="logo-image">
  </md-button>-->
  <h2 flex md-truncate>
    <span hide-gt-sm>ShopLift</span>
  </h2>
  <md-button class="md-icon-button" aria-label="Options" ng-click="header.message()">
      <i class="material-icons">notifications_none</i>
  </md-button>
  <!--<md-button class="md-icon-button" aria-label="Options" ng-click="header.openMenu($mdMenu, $event)">
    <i class="material-icons">menu</i>
  </md-button>-->

  
</div>