<md-subheader class="md-title">What would you like today?</md-subheader>
<div layout-xs="column" layout-gt-xs="row">

    <md-card flex-gt-xs="50" ng-repeat="item in vm.items">
        <img ng-src="{{ './assets/images/' + item.id + '.jpg' }}" class="md-card-image" alt="image caption" ui-sref="order-view({ id: item.id })">
        
        <!--<md-menu md-position-mode="target-right target" class="more">
            <md-button class="md-icon-button" aria-label="Options" ng-click="$mdMenu.open($event)">
                    <i class="material-icons">more_vert</i>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ui-sref="order-view">
                        View Details
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        Add to cart
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        Buy now
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>-->
        <md-card-content layout="column">
            <div layout="row">
                <span flex class="md-headline">{{ item.menu_name }}</span>
                <span class="text-right">{{ item.price | currency:'Php ' }}</span>
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <div flex layout-align="start center">
                <i class="material-icons" style="color:darkorange">star</i>
                <i class="material-icons" style="color:darkorange">star</i>
                <i class="material-icons" style="color:darkorange">star</i>
                <i class="material-icons" style="color:darkorange">star</i>
                <i class="material-icons" style="color:darkorange">star_half</i>
            </div>
            <md-button class="md-icon-button" aria-label="Options" ng-click="vm.showCartModal($event, item)">
                <i class="material-icons">add_shopping_cart</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Options" >
                <i class="material-icons">bookmark_border</i>
            </md-button>
        </md-card-actions>
    </md-card>

</div>